[submodule "data_engineering/data_engineering"]
	path = data_engineering/data_engineering
	url = https://github.com/PoChaoWang/Secure-E-commerce-Customer-360-Platform
[submodule "data_engineering/Secure-E-commerce-Customer-360-Platform"]
	path = data_engineering/Secure-E-commerce-Customer-360-Platform
	url = https://github.com/PoChaoWang/Secure-E-commerce-Customer-360-Platform
[submodule "data_engineering/aws-data-pipeline-ml-platform"]
	path = data_engineering/aws-data-pipeline-ml-platform
	url = https://github.com/PoChaoWang/aws-data-pipeline-ml-platform
[submodule "data_engineering/lalae-data-platform"]
	path = data_engineering/lalae-data-platform
	url = https://github.com/PoChaoWang/lalae-data-platform
[submodule "data_engineering/f1News-scraper"]
	path = data_engineering/f1News-scraper
	url = https://github.com/PoChaoWang/f1News-scraper
[submodule "data_engineering/taipei_taxi_kafka_project"]
	path = data_engineering/taipei_taxi_kafka_project
	url = https://github.com/PoChaoWang/taipei_taxi_kafka_project
[submodule "data_engineering/highway_traffic_streaming_datapipeline"]
	path = data_engineering/highway_traffic_streaming_datapipeline
	url = https://github.com/PoChaoWang/highway_traffic_streaming_datapipeline
