[submodule "amazon_kaggle_data_analysis"]
	path = amazon_kaggle_data_analysis
	url = https://github.com/Gibon4385/amazon_kaggle_data_analysis.git
[submodule "lalae-data-platform"]
	path = lalae-data-platform
	url = https://github.com/Gibon4385/lalae-data-platform.git
[submodule "Ecommerce-Customer-Intelligence-Predictive-Growth-Suite"]
	path = Ecommerce-Customer-Intelligence-Predictive-Growth-Suite
	url = https://github.com/PoChaoWang/Ecommerce-Customer-Intelligence-Predictive-Growth-Suite.git
[submodule "digital-marketing-analyst-agent"]
	path = digital-marketing-analyst-agent
	url = https://github.com/PoChaoWang/Digital-Marketing-Analyst-Agency.git
